:root {
    --root-black: #0d0a02;
    --root-yellow-lite: #ecc047;
    --logo-color: #c59d5f;
    --root-yellow: #ffdc73;
}

.my-navbar {
    background-color: var(--root-black);
}

.logo {
    max-width: 20vh;
}

.nav-link {
    color: var(--root-yellow);
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.my-container-yellow {
    background-image: linear-gradient(to top, var(--root-yellow-lite), var(--root-yellow));
}

.my-container-dark {
    background-color: var(--root-black);
}

.homebox {
    background-color: var(--root-yellow-lite);
    left: -100px;
    z-index: 1;
}

.homebox h1 {
    color: var(--root-black);
    opacity: 1.0;
    font-family: 'Vidaloka', serif;
    font-size: 90px;
}

.homebox p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.homebox-mobile {
    display: none;
}

.homebox-mobile h1 {
    font-family: 'Vidaloka', serif;
    font-size: 60px;
    color: var(--root-black);
}

.homebox-mobile p {
    font-family: 'Raleway', sans-serif;
    color: var(--root-black);
    font-size: 30px;
}

.seperator {
    background-color: var(--root-black);
    color: var(--root-yellow);
    font-family: 'Vidaloka', serif;
}

.contentbox h1 {
    font-family: 'Vidaloka', serif;
    color: var(--root-black);
    font-size: 90px;
}

.contentbox p {
    color: var(--root-black);
    font-size: 20px;
}

.services ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services ul li {
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Raleway', serif;
    color: var(--root-black);
    font-size: 20px;
}

.services h2 {
    font-family: 'vidaloka', serif;
    color: var(--root-black);
    font-size: 50px;
}

.media-icons {
    color: var(--logo-color);
    padding-top: 20px;
    transform: scale(1.7, 1.7);
}

.contact-us h2 {
    color: var(--root-yellow);
    font-family: 'Raleway', serif;
    font-size: 40px;
}

.contact-us h5 {
    color: var(--root-yellow);
    font-family: 'Raleway', serif;
    font-size: 25px;
}

.contact-us p {
    color: var(--root-yellow);
    font-family: 'raleway', serif;
    font-size: 20px;
    padding: 5px;
}

.contact-us a {
    color: var(--root-yellow);
    font-size: 20px;
    padding: 20px;
}

.the-forms {
    display: table;
}

@media(max-width:1400px) {
    .contentbox h1 {
        font-size: 70px;
    }
    .homebox h1 {
        font-size: 70px;
    }
}

@media(max-width:1200px) {
    .contentbox h1 {
        font-size: 60px;
    }
    .homebox h1 {
        font-size: 60px;
    }
}

@media(max-width:992px) {
    .contentbox h1 {
        font-size: 60px;
    }
    .homebox h1 {
        font-size: 40px;
    }
}

@media (max-width:768px) {
    .homebox {
        display: none;
    }
    .homebox-mobile {
        display: flex;
    }
}

@media(max-width:576px) {}